name: 'Continuous integration'
on:
  - push
  - pull_request

jobs:
  test:
    name: 'Test'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@master
      - name: 'Setup node'
        uses: actions/setup-node@master
        with:
          node-version: 24
      - name: 'Install depependencies'
        run: npm install --force
      - name: 'ESLint'
        run: |
          npm run eslint
      - name: 'TS Check'
        run: |
          npm run tscheck
      - name: 'Unit tests'
        run: |
          npm run test:r
